
/* Navigation Bar, inspiration:https://codepen.io/MarcRay/pen/vmJBn-->*/
.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 200px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
  padding-left: 15px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
    padding-left: 15px;

  }
}

nav {
  float: right;
  width: 80%;
}



nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}


nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
    padding-right: 15px;
  font-size: 14px;
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 40px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}

.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

nav ul a {
  color: #888888;
  text-transform: uppercase;
  padding-right: 15px;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #888888;
  display: block;
  background: none;
}

/*Page Layout and content-->*/
body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3, .pimg4, .kumu{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/Home.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../img/network.jpeg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/network.jpeg');
  min-height:400px;
}

.pimg4{
    background-image:url('../img/Impressum.jpg');
    min-height:100%;
  }

.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:40px;
  letter-spacing:8px;
  text-transform:uppercase;
}

h1{
  font-size:35px;
  text-align:center;
  line-height: 1.5;
}

h2{
    font-size:30px;
    text-align:center;
    line-height: 1.5;
  }
  
p{
    font-size:20px;
    text-align:left;
  }

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
  font-size:40px;
  line-height: 1.5;
}

.linker{
  background-color:rgb(107, 107, 107);
  color:#fff;
  padding:20px;
  font-size:40px;
  line-height: 1.5;

}
.ptext .border.trans{
  background-color:transparent;
}

/*Footer-->*/

footer
{
  padding-top: 5vh;
  padding-bottom: 2vh;
}


.container{
  margin: 0 auto;
  width: 90%;
  max-width: 800px;
}

.impressum
{
  text-align: left;
}

.logoimp
{
  height: 8vh;
}

p2{
  font-size:10px;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment:scroll;
  }
}
@media only screen and (max-width:568px){

  header {
    position: relative;
    height: 70vh;
    overflow: hidden;
  }
  
  
  .pimg1{
    background-image:url('../img/Home.jpeg');
    min-height:100%;
  }
  
  .pimg2{
    background-image:url('../img/network.jpg');
    min-height:400px;
  }
  
  .pimg3{
    background-image:url('../img/network.jpg');
    min-height:100%;
  }
  
  .pimg4{
      background-image:url('../img/Impressum.jpg');
      min-height:100%;
    }
  
  .section{
    text-align:center;
    padding:30px 40px;
  }
  
  .section-light{
    background-color:#f4f4f4;
    color:#666;
  }
  
  .section-dark{
    background-color:#282e34;
    color:#ddd;
  }
  
  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:35px;
    letter-spacing:8px;
    text-transform:uppercase;
  }
  
  h2{
      font-size:25px;
      text-align:center;
      line-height: 1.5;
      
  
    }
    
  p{
      font-size:15px;
      text-align:left;
    }
  
    .ptext .border{
      background-color:#111;
      color:#fff;
      padding:20px;
      font-size:35px;
      line-height: 1.5;
    }
  
  .ptext .border.trans{
    background-color:transparent;
  }

}


